/*-- grid container --*/
.grid-container {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

/*-- setting border box on all elements inside the grid --*/
.grid-container *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.outline, .outline *{
}

/*-- our clearfix hack -- */ 
.row:before, 
.row:after {
content:"";
display: table ;
clear:both;
}

/*-- grid column specs --*/
[class*='col-'] {
	float: left;
	min-height: 1px;
	width: 8.33%;
	/*-- gutter --*/
	padding: 12px;
}

/*-- grid column styling --*/
[class*='col-'] > p {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 24px;
	font-family: Raleway, Arial, sans-serif;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 24.99%;
}

.col-4 {
	width: 33.32%;
}

.col-5 {
	width: 41.65%;
}

.col-6 {
	width: 49.98%;
}

.col-7 {
	width: 58.31%;
}

.col-8 {
	width: 66.64%;
	margin-top: 10%;
}

.col-9 {
	width: 74.97%;
}

.col-10 {
	width: 83.3%;
}

.col-11 {
	width: 91.63%;
}

.col-12 {
	width: 99.96%;
}

/*-- general stylings --*/
a {
	text-decoration: none;
}